*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}

:root{
    --mainfont: 'Poppins',cursive;
}

html{
    height: 100%;
    overflow: auto;
}

body{
    height: 100%;
    color: #ffffff;
}

.connect{
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    overflow-y: auto;
}

#connect-message{
    position: fixed;
    top: -100%;
    width: 100%;
    background: greenyellow;
    padding: 1em 2em 1em 2em;
    box-shadow: 0 0 40px 0px #000000;
}

#message{
    font-family: var(--mainfont);
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
}